<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" />
  <package id="HtmlTags" version="1.0.0.23" />
  <package id="DotNetZip" version="1.9" />
  <package id="structuremap" version="2.6.2" />
  <package id="FubuMVC" version="0.9.1.524" />
  <package id="jQuery" version="1.6.2" />
  <package id="YUICompressor.NET" version="1.5.0.0" />
  <package id="dotless" version="1.1.0" />
  <package id="AjaxMin" version="4.13.4076.28499" />
  <package id="SquishIt" version="0.7.1" />
  <package id="IronRuby" version="1.1.3" />
  <package id="SassAndCoffee.Core" version="1.0" />
  <package id="SassAndCoffee.AspNet" version="1.0" />
  <package id="SassAndCoffee" version="1.0" />
  <package id="AutoMapper" version="1.1.0.118" />
  <package id="Spark" version="1.6" />
  <package id="WebActivator" version="1.4.1" />
  <package id="Spark.Web.Mvc2" version="1.6" />
  <package id="FubuMVC.Spark" version="0.9.1.528" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="System.Data.SQLite" version="1.0.66.1" />
  <package id="FluentScheduler" version="1.0.6" />
  <package id="FubuCore" version="0.9.1.37" />
  <package id="Bottles" version="0.9.0.102" />
  <package id="FubuLocalization" version="0.9.1.37" />
  <package id="FubuMVC.References" version="0.9.1.533" />
  <package id="FubuMVC.WebForms" version="0.9.1.533" />
  <package id="FubuValidation" version="0.4.0.45" />
  <package id="FubuMVC.Validation" version="0.4.0.45" />
  <package id="FubuMVC.FastPack" version="0.4.1.44" />
  <package id="MigSharp" version="1.1.0" />
  <package id="linq.js" version="2.2.0.2" />
  <package id="jQuery.UI.Combined" version="1.8.16" />
  <package id="underscore.js" version="1.1.7" />
  <package id="FluentValidation" version="3.1.0.0" />
  <package id="Iesi.Collections" version="3.2.0.4000" />
  <package id="NHibernate" version="3.2.0.4000" />
  <package id="FluentNHibernate" version="1.3.0.717" />
  <package id="Newtonsoft.Json" version="4.0.2" />
</packages>