/*/**/bin/**/*
/*/**/obj/**/*
_ReSharper.smart-track
pwds
getpwds.bat
build/
build/unit-tests/
results/
src/SmartTrack/obj/
src/SmartTrack.Model/obj/
src/SmartTrack.Model/bin/
src/SmartTrack.Tests.Unit/bin/
src/SmartTrack.Tests.Unit/obj/
src/SmartTrack.Tests.Acceptance/bin/
src/SmartTrack.Tests.Acceptance/obj/
