/*/**/bin/**/*
/*/**/obj/**/*

_ReSharper.smart-track


pwds
getpwds.bat

src/SmartTrack/Bin/

src/SmartTrack/Bin/*

src/SmartTrack/obj/

src/SmartTrack/obj/*

src/SmartTrack.Model/obj/*

src/SmartTrack.Model/bin/*

src/SmartTrack.Tests.Unit/bin

src/SmartTrack.Tests.Unit/obj

src/SmartTrack.Tests.Acceptance/bin

src/SmartTrack.Tests.Acceptance/obj

/src/SmartTrack/bin
/src/SmartTrack/obj
/src/smart-track.6.0.ReSharper.user
/src/_ReSharper.smart-track
/src/smart-track.5.1.ReSharper.user
/src/SmartTrack.Model/obj
/src/SmartTrack.Model/bin
/src/SmartTrack.Model/obj/Debug
/src/SmartTrack.Model/bin/Debug
/src/SmartTrack.Tests.Acceptance/obj
/src/SmartTrack.Tests.Acceptance/bin
/src/SmartTrack.Tests.Unit/obj
/src/SmartTrack.Tests.Unit/bin
/src/SmartTrack.Tests.Unit/bin/Debug