<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
    <connectionStrings>
      <add name="database" providerName="System.Data.SQLite" connectionString="server=db001.appharbor.net;database=db3362;uid=db3362;pwd=rP3Vw27rURcqjeqXcKe3PgxEmdmU3wzwfySowHeCzsWbFS3NttmYGN3jrwJtNkxw"
        xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </connectionStrings>
    
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>