@import "colors.less";

.gray-box () {
	background-color: @color-lightestgray;
	border: 1px solid @color-lightgray;
	border-radius: 5px;
	padding: 10px;
}

#header {
	.gray-box;
	overflow: auto;
	width: 860px;
	text-align: center;
}

#content {
	background-color: #fff;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 860px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
	min-height: 450px;
	padding: 20px;
}

#footer {
	.gray-box;
	position: absolute;
	bottom: 0;
	height: 60px;
}

#login-status {
    float: right;
}

#site-logo {
	float: left;
}

.measure-value {
    width: 30px;
}

.measure-table-cell {
	padding-right: 10px;
}

