#header {
  background-color: #e7e9df;
  border: 1px solid #d4d2d2;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
}
#footer {
  background-color: #e7e9df;
  border: 1px solid #d4d2d2;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  height: 60px;
}
#login-status {
  float: right;
}
#site-logo {
  float: left;
}
.measure-value {
  width: 30px;
}
.measure-table-cell {
  padding-right: 10px;
}
